<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="{{ asset('public/css/app.css') }}" type="text/css" rel="stylesheet"/>


    {% block javascripts %}
        <script src="{{ asset('public/js/lib/chart.umd.min.js') }}"></script>
        <script src="{{ asset('public/js/lib/chartjs-plugin-datalabels.js') }}"></script>

        <title></title>
    {% endblock %}
</head>
<body>
<div class="content" data-territory="{{ territory_data }}" data-population-info="{{ population_info }}">

    <div class="stat blue-border-wrapper">
        <div class="stat__first-row-panels">
            <div class="blue-border-wrapper project-info" style="flex: 1">
                <span>Pet проект, дашборд со статистикой Росстата и данными от различных API по Российской Федерации</span>
                <br>
                Используемые ресурсы:
                <span>данные по региональным органам - <a href="http://api.duma.gov.ru/">API госдумы</a></span>
                <span>данные по населению - <a href="https://rosstat.gov.ru/vpn/2020">Росстат перепись населения 2020</a></span>
                <span>API институтов разных стран - <a href="https://hipolabs.com/">hipolabs.com</a></span>
                <span>API курсов валют - <a href="https://freecurrencyapi.com/">freecurrencyapi.com</a></span>
                <br>
                <span>Мой <a href="https://github.com/AlexanderVolik98">GitHub</a></span>

            </div>
            <div class="stat__gender-info blue-border-wrapper">
                <canvas id="gender-pie-chart" style="width:100%; height: 100%;">
                </canvas>
            </div>
            <div class="blue-border-wrapper">
                <div class="stat__age-info-wrapper">
                    <div class="stat__territory-age_header">
                        <span
                            class="stat__territory-age_title">Численность населения по основным возрастным группам</span>
                        <div class="stat__territory-age_description">
                            <span
                                class="stat__territory-age_description_key"><b>Моложе трудоспособного:</b> 0-15 лет</span>
                            <span class="stat__territory-age_description_key"><b>Трудоспособный возраст:</b> мужчины 16-61,5 лет, женщины 16-56,5 лет</span>
                            <span class="stat__territory-age_description_key"><b>Старше трудоспособного:</b> мужчины 61,5 и более, женщины 56,5 и более</span>
                        </div>
                    </div>
                    <div class="stat__age-info">
                        <canvas id="age-pie-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="stat__currencies">

                <div>
                    Курс рубля к другим валютам
                </div>
                <div style="display: flex; gap: 5px; flex: 1; width: 100%; margin-bottom: 5px">
                    <div class="blue-border-wrapper stat__eur" style="flex: 1">
                        <div class="stat__bots-eur">
                            1 <img src="../public/svg/euro.svg" alt="euro" width="30" height="30">
                            <div class="y-hr-like"></div>
                            <div class="stat__rate-item">
                                <div><span> {{ currency_rates.EUR }} </span></div>
                            </div>
                            <img src="../public/svg/ruble.svg" alt="euro" width="30" height="30">
                        </div>
                    </div>
                    <div class="blue-border-wrapper stat__usd">
                        <div class="stat__rates-usd">
                            1 <img src="../public/svg/dollar.svg" alt="dollar" width="30" height="30">
                            <div class="y-hr-like"></div>
                            <div class="stat__rate-item">
                                <div><span> {{ currency_rates.USD }} </span></div>
                            </div>
                            <img src="../public/svg/ruble.svg" alt="euro" width="30" height="30">
                        </div>
                    </div>
                </div>
                <div style="display: flex; gap: 5px;flex: 1; width: 100%;">
                    <div class="blue-border-wrapper stat__gbp">
                        <div class="stat__rates-gbp">
                            1 <img src="../public/svg/pound.svg" alt="pound" width="25" height="25">
                            <div class="y-hr-like"></div>
                            <div class="stat__rates-gbp stat__rate-item">
                                <div><span> {{ currency_rates.GBP }} </span></div>
                            </div>
                            <img src="../public/svg/ruble.svg" alt="euro" width="30" height="30">
                        </div>
                    </div>
                    <div class="blue-border-wrapper stat__cny">
                        <div class="stat__rates-cny">
                            1 <img src="../public/svg/yen.svg" alt="pound" width="25" height="25">
                            <div class="y-hr-like"></div>
                            <div class="stat__rates-gbp stat__rate-item">
                                <div class="stat__bots-counter_tox_value"><span> {{ currency_rates.CNY }} </span></div>
                            </div>
                            <img src="../public/svg/ruble.svg" alt="euro" width="30" height="30">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stat__second-row-panels">

        </div>
        <div class="stat__third-row-panels">
            <div class="blue-border-wrapper">
                <div class="stat__territory">
                    <div class="stat__territory_interactive-panel">
                        <div class="stat__territory_diagramm__wrapper">


                            <div class="stat__territory_diagramm">
                                <div style="display: flex; justify-content: space-between; width: 100%">
                                    <button onclick="testFunc()" class="stat__update-territory_diagramm_button">
                                        <img src="../public/svg/update.svg" alt="update" width="40" height="40">
                                    </button>
                                    <div>
                                        <h3>Гистограмма, городское и сельское население РФ</h3>
                                    </div>
                                </div>
                                <canvas id="stat-territory-histogramm" class="box"
                                        style="width:600px; height: 600px;"></canvas>
                            </div>
                            <div class="stat__territory_map">
                                <h3>Карта РФ с областями и республиками (без спорных территорий)</h3>
                                {{ source('@svg/rf.svg') }}
                            </div>

                            <div class="extra-info">
                                <div>
                                    <h3 style="align-self: center">Список региональных органов законодательной
                                        власти</h3>
                                    <div class="extra-info__regional-organs_content">
                                        <div>
                                            <div onclick="collapseExpandRegionalOrgansList(this, true);"
                                                 class="extra-info__regional-organs_inactive clickable">
                                            <span
                                                class="extra-info__regional-organs_title">Действующие в настоящее время</span>
                                                <img src="../public/svg/expand-list.svg" alt="pound" width="20"
                                                     height="20"
                                                     id="toggle-active-list-svg">
                                            </div>
                                            <ol style="display: none" id="regional-organs-active-list">
                                                {% for legislature in sorted_subject_legislatures_by_activity.active %}
                                                    <li><p>{{ legislature.name }}</p>
                                                        <p>дата начала полномочий: {{ legislature.startDate }}</p>
                                                        <hr>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                        <div>
                                            <div onclick="collapseExpandRegionalOrgansList(this, false);"
                                                 class="extra-info__regional-organs_inactive clickable">
                                            <span
                                                class="extra-info__regional-organs_title">Недействующие в настоящее время</span>
                                                <img src="../public/svg/expand-list.svg" alt="pound" width="20"
                                                     height="20"
                                                     id="toggle-inactive-list-svg">
                                            </div>
                                            <ol style="display: none" id="regional-organs-inactive-list">
                                                {% for legislature in sorted_subject_legislatures_by_activity.inactive %}
                                                    <li><p>{{ legislature.name }}</p>
                                                        <p>дата начала/конца полномочий: {{ legislature.startDate }}
                                                            /{{ legislature.stopDate }}</p>
                                                        <hr>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h3 style="align-self: center">Список институтов России</h3>
                                    <ol class="extra-info__universities_list">
                                        {% for university in universities %}
                                            <li><p>{{ university.name }}</p>
                                                <p>сайт: {{ university.web_pages[0] }}</p>
                                                <hr>
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ asset('public/js/util.js') }}"></script>
<script src="{{ asset('public/js/colors.js') }}"></script>
<script src="{{ asset('public/js/app.js') }}"></script>
</html>
